<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'" [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">
        <mat-toolbar style="display:list-item ;display: flex;">
            <a *ngIf="!isLogIn" mat-menu-item routerLink="/auth/login">
                <mat-icon>login</mat-icon>Login
            </a>
            <img class="avatar" *ngIf="isLogIn && genderMale" src="./assets/avatar.png">
            <img class="avatar" *ngIf="isLogIn && genderFemale" src="./assets/femaleAvatar.jpg">
            <h3>{{userName}}</h3><br>
        </mat-toolbar>
        <mat-nav-list>
            <a class="onSelect" mat-list-item routerLink="/dashboard/home" [routerLinkActive]="['is-active']">
                <mat-icon>home</mat-icon>Home
            </a>
            <a class="onSelect" mat-list-item routerLink="favourite" [routerLinkActive]="['is-active']">
                <mat-icon>favorite</mat-icon> Favourite Movies
            </a>
            <a class="onSelect" mat-list-item routerLink="recommended" [routerLinkActive]="['is-active']">
                <mat-icon>recommend</mat-icon> Recommended
            </a>

            <button class="onSelect" mat-button [matMenuTriggerFor]="menu">
                <mat-icon>settings</mat-icon> Settings
            </button>
            <mat-menu #menu="matMenu">
                <!-- <a mat-menu-item href="#">
                    <mat-icon>perm_identity</mat-icon>Update Profile
                </a> -->
                <a *ngIf="isLogIn" mat-menu-item (click)="loggedOut()">
                    <mat-icon>logout</mat-icon>Log Out
                </a>
                <a mat-menu-item href="#" disabled="default">
                    <mat-icon>help</mat-icon>Help
                </a>
                <a mat-menu-item href="#" disabled="default">
                    <mat-icon>notifications_off</mat-icon>Disable Alerts
                </a>
                <a mat-menu-item href="#" disabled="default">
                    <mat-icon>feedback</mat-icon>send_feedback
                </a>
            </mat-menu>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content style="justify-content: space-evenly;">
        <mat-toolbar color="primary">
            <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()" *ngIf="isHandset$ | async">
                <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
            </button>
            <span>Muzix</span>&nbsp;
            <form class="form-inline my-2 my-lg-0" (ngSubmit)="searchingItems(searchTxt.value)" style="display: flex;margin: auto;">
                <input class="form-control my-2 mr-sm-1" type="search" placeholder="Search Movie By Name" aria-label="Search" style="width: 150px ;" #searchTxt>
                <button class="btn btn-outline-success  my-2 my-sm-0" type="submit">Search</button>
            </form>
        </mat-toolbar>

        <!-- Add Content Here -->
        <!-- <app-home></app-home> -->
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>