<div class="content">
    <div fxLayout="row wrap" fxLayoutGap="16px grid">
        <div fxFlex.xs="100%" fxFlex.sm="50%" fxFlex.md="33.33%" fxFlex.lg="25%" *ngFor="let data of allMovies">
            <mat-card class="mat-elevation-z4" (click)="movieDetails(data)" style="width: 310px;height: 575px;">
                <img mat-card-image src="https://image.tmdb.org/t/p/w300/{{data.poster_path }}">
                <mat-card-content>
                    <mat-card-title>{{data.original_title}}</mat-card-title>
                    <mat-card-subtitle>vote: {{data.vote_average}} </mat-card-subtitle>
                    <mat-card-subtitle>Release Date: {{data.release_date}} </mat-card-subtitle>
                </mat-card-content>
            </mat-card>
        </div>
        <div style="margin:auto">
            <button [disabled]="currentPg<=1" (click)="decreasePage()" mat-raised-button>
                <mat-icon>navigate_before</mat-icon> Previous Page
            </button><button [disabled]="currentPg>=33349" (click)="increasePage()" mat-raised-button>Next Page
                <mat-icon>navigate_next</mat-icon> </button>
        </div>
    </div>
</div>