<mat-sidenav-container class="sidenav-container">
    <!-- <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'" [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false"> -->
        <!-- <mat-toolbar><a mat-list-item routerLink="dashboard" style="color:white;text-decoration: none;">
            <mat-icon>movie</mat-icon>AllMovies
        </a></mat-toolbar> -->
        <!-- <mat-nav-list>
            <a mat-list-item routerLink="dashboard" style="color:white;text-decoration: none;font-size: 20px;"> -->
    <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
        [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">
        <!-- <mat-toolbar> <a routerLink="dashboard/home"></a>Movie</mat-toolbar> -->
        <mat-nav-list>
            <a  mat-list-item routerLink="/dashboard/home" style="color:white;text-decoration: none;font-size: 20px;">
                <mat-icon>movie</mat-icon>&nbsp; All Movies
            </a>
            <a class="onSelect" mat-list-item routerLink="login" [routerLinkActive]="['is-active']">
                <mat-icon>login</mat-icon>&nbsp; Login
            </a>
            <a class="onSelect" mat-list-item routerLink="register" [routerLinkActive]="['is-active']">
                <mat-icon>account_circle</mat-icon>&nbsp; Register
            </a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <mat-toolbar color="primary">
            <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
                *ngIf="isHandset$ | async">
                <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
            </button>
            <span>Muzix</span>
        </mat-toolbar>
        <!-- Add Content Here -->
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>