.example-card {
    max-width: 400px;
}


/* .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  } */

mat-card {
    width: 400px;
    height: 700px;
}

mat-card-content {
    margin-top: 10px;
}

.content {
    padding: 16px;
}