.search{
    position: sticky;
    /* margin-bottom: 20px; */
    padding-top: 2.8%;
    top: 0;
    z-index: 1;
    text-align: center;
}

.searchLine{
    background-color: royalblue;
    background-size: auto;
    font-size: xx-large;
}